# Files that were automatically added
.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

# Files I added
+coverage/**
+node_modules/**
+gocmd/**
+# out directory is only used for tests
+out/**
